body {
	background-image: url(https://3000-ivory-canid-vm5v0k6f.ws-us15.gitpod.io/.learn/assets/background-vertical.jpg?raw=true);
	background-size: contain;
	background-repeat: repeat-y;
}
#h1 { 
    font-family:"courier new", Color red}